<style>
.include_videoloop {
  max-width: 100rem;
  margin: 3rem auto;
}
.include_videoloop video {
  width: 100%;
}
.include_videoloop p:before {
  content: '';
  display: block;
  width: 5.625rem;
  height: 0.125rem;
  background: #FF004D;
  margin: -4rem auto 3rem;
  transform: rotate(-45deg);
}
.include_videoloop p {
  line-height: 120%;
  font-family: 'Oswald';
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 0;
  font-size: 2.5rem;
  max-width: 20rem;
  color: #FF004D;
  font-weight: bold;
  margin: 4rem auto;
}
.ocultar-movil {
  display: none;
}
@media (min-width: 64rem){ /* 1024PX */
  .ocultar-movil {
    display: block;
  }
  .ocultar-escritorio {
    display: none;
  }
}
</style>

<div class="include_videoloop">
  <video class="ocultar-movil" playsinline  muted loop autoplay poster="//elpais.com/infografias/2019/10/exhumacion-franco/video/10_video-provisional_H.png">
    <source src="//elpais.com/infografias/2019/10/exhumacion-franco/video/10_video-provisional_H.mp4?=10" type="video/mp4">
  </video>
  <video class="ocultar-escritorio" playsinline muted loop autoplay poster="//elpais.com/infografias/2019/10/exhumacion-franco/video/10_video-provisional_H.png">
    <source src="//elpais.com/infografias/2019/10/exhumacion-franco/video/10_video-provisional_H.mp4?=10" type="video/mp4">
  </video>
</div>