<!-- <bloque7> -->
    <p>Si la niebla y el viento no lo impiden, el traslado de los restos de Franco desde el Valle de los Caídos al cementerio de Mingorrubio, en el Pardo, se hará en helicóptero. Se estima que el trayecto dure entre 10 y 15 minutos.</p>
    <p><span><span>Dentro del helicóptero, acompañando los restos, estará uno de los nietos del dictador, Francis Franco, y la ministra de Jusiticia, Dolores Delgado.</span></span></p>
    <!-- <bloque7> -->