 <!-- <bloque9> -->
    <p><a title="cementerio" href="//elpais.com/elpais/2019/10/19/media/1571506038_038391.html" target="_blank">Quién es quién en el cementerio de Mingorrubio</a></p>
    <p><span><span>Una vez allí, el prior del Valle de los Caídos, Santiago Cantera, y Ramón Tejero, hijo del protagonista del 23-F, oficiarán una misa por el dictador. En ese momento el Gobierno ya no impedirá el uso de banderas u otros símbolos para los que denegó el permiso en el Valle de los Caídos. El Ejecutivo ha establecido tres anillos de seguridad en torno al panteón. Un dispositivo de la policía nacional vigilará la zona durante semanas. A partir de ese momento, las tres llaves del panteón quedarán en la delegación del Gobierno, el cementerio y Patrimonio Nacional. El Ejecutivo es el actual propietario del panteón y el que seguirá pagando su mantenimiento. Fuentes de La Moncloa aseguran que ofrecieron a la familia que lo comprara al precio tasado por metro cuadrado , pero esta se negó. El coste máximo de la exhumación y el traslado de los restos del dictador asciende a 63.000 euros.</span></span></p>
    <!-- <bloque9> -->